<header class="jumbotron text-center display-3">Buy That Charlotte House?</header>

<main class="container">

<ul class="nav nav-pills">
    <li class="nav-item">
        <a href="#" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link active">Scrape</a>
    </li>
</ul>

    {{#each }}
    <section class="card col-12">
        <img>
        <section class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-subtitle"></h5>
            <p class="card-text"></p>
            <a href=# class="btn btn-primary"></a>
        </section>
    </section>
    {{/each }}
</main>